
@font-face {

    font-family: "Vidaloka";
    src: url('./assets/fonts/Vidaloka-Regular.woff2') format('woff2');
}

body, html {
width:100%;
height:100%;
margin:0;
font-family: "Vidaloka";
background-image: repeating-conic-gradient(#eaeafd 0% 25%, #e4fbff 0% 50%);
background-position: 0 0, 10px 10px;
background:
      conic-gradient(from 116.56deg at calc(100%/3) 0, #0000 90deg,#ffc0fc 0),
      conic-gradient(from -63.44deg at calc(200%/3) 100%, #0000 90deg,#ffc0fc 0)
      #e8e8fd;
background-size: 32px 32px;
}

.grid {
background:rgb(255, 212, 209);
/*width:100%; */
/*height:100%; */
display:grid;
grid-template-columns: repeat(40, 1fr);
grid-template-rows: repeat(100, 1fr);
background: rgb(46,59,108);
background: linear-gradient(90deg, rgba(46,59,108,1) 0%, rgba(11,19,48,1) 50%, rgba(40,52,96,1) 100%);
width: 1500px; /* Optional: container size */
height: 700px; /* Optional: container size */
}

.grid2 {
display:grid;
grid-template-columns: repeat(40, 1fr);
grid-template-rows: repeat(100, 1fr);
background-color: #e620cf;
background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 10px ), repeating-linear-gradient( #cb6dbc55, #b663c4 );
width: 1500px; /* Optional: container size */
height: 500px; /* Optional: container size */
}

.grid3 {
/*width:100%; */
/*height:100%; */
display:grid;
grid-template-columns: repeat(40, 1fr);
grid-template-rows: repeat(100, 1fr);
background: rgb(46,59,108);
background: linear-gradient(90deg, rgb(8, 25, 86) 0%, rgb(155, 13, 67) 50%, rgba(40,52,96,1) 100%);
width: 1500px; /* Optional: container size */
height: 1000px; /* Optional: container size */
}

.katalogi-solu {
background:rgb(205, 158, 158);
grid-column: var(--a) / span var(--b);
grid-row: var(--c) / span var(--d);
}

.green {
background: linear-gradient(rgb(255, 51, 177), rgb(244, 166, 214), rgb(117, 108, 89));
}

.squarecol {
    background: linear-gradient(rgb(16, 34, 172), rgb(111, 102, 204), rgb(127, 145, 215));
    }

.white {
    background: rgb(205, 156, 186);
    }

.middle {
    background: rgb(204, 136, 211);
    }    

.border {
    border-style: solid;
    border-color: black;
    border-width: 50px;
}

.bannercol {
    background: rgb(5, 13, 46);
}

.bannertext {
    grid-column: var(--a) / span var(--b);
    grid-row: var(--c) / span var(--d);
    color: rgb(42, 31, 148);
    text-align: left;   
    font-size: 20px;   
    margin:10px;                                            /* Tästä vaihdetaan pääotsikoiden fontit */
    }

.bannertext2 {
    grid-column: var(--a) / span var(--b);
    grid-row: var(--c) / span var(--d);
    color: rgb(75, 51, 137);
    text-align: left;   
    font-size: 20px;   
    margin:10px;                                            /* Tästä vaihdetaan pääotsikoiden fontit */
}    

.bannercol2 {
    background: rgb(73, 81, 171);
 }        

 .bannercol3 {
    background: rgb(204, 87, 171);
 }   

.rhombus { 
clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}

.textbox {
grid-column: var(--a) / span var(--b);
grid-row: var(--c) / span var(--d);
font-family: 'Vidaloka';                                                    /* Tästä vaihdetaan pääotsikoiden fontit */
}

.scrolling-text-inner {                                                     /* Inner container styles */
display: grid;
white-space: nowrap;
font-size: 40px;
font-weight: 600;
padding: 10px 20px;
color: #e620cf;
text-shadow: rgb(204, 35, 176) 15px 0 15px;
filter:blur(1px);
opacity: 0.9;
}

.scrolling-text {                                                           /* Text styles */
display: grid;
}

.scrolling-text-item {
padding: 0 30px;
}

.scrolling-text-inner {                                                 /* Apply the animation to the text items */
animation: var(--direction) var(--marquee-speed) linear infinite;
}

@keyframes scroll-left {                                                    /* Setting the Animation using Keyframes */
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.item-image img {
    width: var(--h);  /* Oli ennen 100px Set the width */
    height: var(--j); /* Oli ennen 70 px Set the height */
    object-fit: top; /* Control how the image fits in the grid */
    z-index: 1;
    position: absolute;
  }

  .item-image {
    grid-column: var(--u);
    grid-row: var(--v);
    /* grid-column: span 1; /* Makes the image span across 2 columns */
    /* grid-row: span 2; /* Makes the image span across 2 rows */
  }

  .logo img {
    position: absolute;
    background-color: #520c4a;
    margin-left: 1230px;
    margin-top: 20px;
    width:100px;
  }